.services-wrapper {
  width: 100%;
  padding: 40px 5%;
  font-family: "Inter", sans-serif;
}

.services-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.services-title {
  font-size: 26px;
  font-weight: 900;
  color: #0F5C3A;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
}

.main-img {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.services-main {
  width: 60%;
  height: 400px;
  background: #efefef;
  padding: 40px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-main h1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}

.services-main p {
  width: 80%;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.services-tabs {
  width: 40%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.service-tab {
  width: 20%;
  height: 400px;
  background: #e5e5e5;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
}

.service-tab.active {
  background: #d9d9d9;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #333;
}

.service-tab:hover {
  width: 30%;
}

/* RESPONSIVE DESIGN */

@media (max-width: 992px) {
  .services-container {
    flex-direction: column;
  }

  .services-main {
    width: 100%;
  }

  .services-tabs {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .service-tab {
    width: calc(33.333% - 8px);
    /* 3 columns */
    height: 100px;
    flex-direction: column;
    padding: 10px;
  }

  .vertical-text {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    font-size: 14px;
    text-align: center;
    white-space: normal;
  }

  .service-tab:hover {
    width: calc(33.333% - 8px);
  }
}

@media (max-width: 768px) {
  .service-tab {
    width: calc(50% - 6px);
    /* 2 columns */
  }

  .service-tab:hover {
    width: calc(50% - 6px);
  }
}

@media (max-width: 600px) {
  .services-wrapper {
    padding: 20px 5%;
  }

  .services-title {
    font-size: 22px;
  }

  .services-main {
    padding: 20px;
    height: auto;
    min-height: 350px;
  }

  .services-main h1 {
    font-size: 28px;
  }

  .services-main p {
    width: 100%;
    font-size: 14px;
  }

  .service-tab {
    width: 100%;
    /* 1 column */
    height: 60px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .service-tab:hover {
    width: 100%;
  }

  .vertical-text {
    font-size: 14px;
    text-align: left;
  }
}